.BorderPane{
    -fx-background-color: azure;
    -fx-background-radius: 100;
}


.exit-button{
    -fx-background-radius: 100;
    -fx-background-color: #2b2b2b;
}

.connect-button{
    -fx-background-color: #fcfcfc;
    -fx-background-radius: 100;
}

.ipAddressTextFiel {
    -fx-background-radius: 100;
}

.portNumberTextFiel {
    -fx-background-radius: 100;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0, 0, 0, 0.1) , 5.0, 0.0, 0.0, 5.0);
}

.shadowPane{
    -fx-effect: dropshadow(three-pass-box,rgba(0, 0, 0, 0.1) , 30.0, 0.0, 0.0, 30.0);
}