.pane{
    -fx-background-radius: 20;
    -fx-background-color: #e3cfe5;
    -fx-opacity: 0.43;
}

.buttonLayout{
    -fx-background-color: #e3cfe5;
    -fx-opacity: 0.83;
    -fx-background-radius: 20;
    -fx-border-color: #ffffff;
    -fx-border-width: 3px;
    -fx-border-radius: 19;
    -fx-border-style: solid;
}

.buttonSchool{
    -fx-background-color: #ffd24d;
    -fx-opacity: 1;
    -fx-background-radius: 20;
}

.buttonTrans{
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-background-radius: 25;
}

.buttonStudent{
    -fx-background-color: transparent;
    -fx-opacity: 0.45;
    -fx-background-radius: 100;
    -fx-border-color: #ffffff;
    -fx-border-width: 3px;
    -fx-border-radius: 100;
    -fx-border-style: solid;
}

.studentShadowPane{
    -fx-background-radius: 20;
    -fx-background-radius: 100;
    -fx-background-color: black;
    -fx-opacity: 0.45;
}

.separator *.line{
    -fx-background-color: #ada79f;
    -fx-border-color: #ada79f;
    -fx-border-style: solid;
    -fx-border-radius: 45;
    -fx-border-width: 1px;
}

.button:pressed {
    -fx-effect: dropshadow(gaussian, floralwhite, 20, 0.1, 0, 3);
    -fx-background-radius: 25;
}

.button:hover {
    -fx-border-style: solid;
    -fx-opacity: 0.15;
    -fx-background-radius: 25;
}

.shadowPane{
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-opacity: 0.45;
}

.button:selected:focused{
    -fx-background-color: #E4E4E4;
    -fx-background-radius: 25;
}